<div id="pageContainer" class="min-h-screen flex flex-col items-center">

  <%= render partial: 'devise/shared/navbar'%>

  <% if session[:access_denied_message] %>
    <div class="alert alert-danger">
      <%= session[:access_denied_message] %>
    </div>
  <% session.delete(:access_denied_message) %>
  <% end %>

  <div class="flex flex-col justify-center items-center text-sm md:text-base w-5/6">
  
    <h3 class="text-md font-bold m-7">Edit Account</h3>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
        <div id="firstAndLast" class="md:flex md:flex-row w-full">
          <div class="field my-3 md:mr-1">
            <%= f.label :first_name, class: "text-sm font-bold" %><br />
            <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "rounded-md border-slate-500" %>
          </div>
          <div class="field my-3 md:ml-1">
            <%= f.label :last_name, class: "text-sm font-bold" %><br />
            <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "rounded-md border-slate-500" %>
          </div>
        </div>
        <div class="field my-3">
          <%= f.label :email, class: "text-sm font-bold" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "rounded-md border-slate-500 w-full" %>
        </div>
        <div class="field my-3">
          <%= f.label :username, class: "text-sm font-bold" %><br />
          <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "rounded-md border-slate-500 w-full" %>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        <div class="field my-3">
          <%= f.label :current_password, class: "text-sm font-bold" %> <i>(Required)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password", class: "rounded-md border-slate-500 w-full" %>
        </div>
        <div class="w-full flex justify-between md:justify-center mt-10 max-w-2xl">
          <%= link_to 'Cancel', root_path, class: "text-center w-32 bg:white border-2 border-red-500 hover:bg-red-500 hover:text-white text-red-500 font-normal m-1 py-2 rounded focus:outline-none focus:shadow-outline" %>
          <div class="actions">
            <%= f.submit "Save", class: "w-32 text-center bg-green-600 hover:bg-white hover:text-green-600 text-white hover:cursor-pointer border-2 border-green-600 hover:border-2 hover:border-green-600 font-normal m-1 py-2 rounded focus:outline-none focus:shadow-outline" %>
          </div>
        <% end %>
        </div>    

  </div>
</div>