<div id="pageContainer" class="min-h-screen flex flex-col justify-center items-center bg-slate-200">
  <div class="relative top-0 w-5/6 w-md flex justify-center">
    <img src="https://i.ibb.co/4Jv3SY7/Movie-App-Logo-1.png" alt="The Movie Critic" class="w-5/6 max-w-md " />
  </div>
  
  <% if alert.present? || notice.present? %>
    <p class="alert underline text-lg mb-1 p-3 max-w-lg text-center"><%= alert %></p>
    <p class="notice underline text-lg mb-1 p-3 max-w-lg text-center"><%= notice %></p>
  <% end %>

  <div id="signInForm" class="relative top-8 flex flex-col justify-center items-center border-2 border-slate-300 rounded-lg p-5 w-11/12 max-w-xl bg-slate-100">
  <div class="flex w-full max-w-xl mb-8">
    <%= link_to "Log In", root_path(resource_name), id:"loginBtn", class: "flex-1 mr-1 w-4/5 mt-2 text-center bg-blue-500 hover:bg-blue-700 border-2 font-sm border-blue-500 text-white hover:text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    <%= link_to "Sign Up", new_registration_path(resource_name), id:"signupBtn", class: " flex-1 ml-1 w-4/5 mt-2 text-center bg-white hover:bg-blue-700 border-2 font-sm border-blue-500 text-blue-500 hover:text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
    <div id="form" class="w-full">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.text_field :username, class: "shadow appearance-none border rounded my-3 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-slate-100" ,autofocus: true, autocomplete: "off", placeholder: "Username" %>
        </div>
        <div class="field">
          <%= f.password_field :password, autocomplete: "current-password", class: "my-3 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-slate-100", placeholder: "Password" %>
        </div>
        <div class="flex justify-between items-center my-3">
          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
        <% end %>
        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <div>
            <%= link_to "Forgot your password?", new_password_path(resource_name), class: "my-3 text-blue-600 hover:text-blue-700" %><br />
          </div>
        <% end %>
        </div>
        
        <div class="actions flex items-center justify-around my-5">
          <%= f.submit "Submit", class: "w-full bg-blue-500 hover:bg-blue-700 hover:cursor-pointer text-white font-normal py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
        </div>
      <% end %>
    </div>
  </div>

</div>