<%= form_tag filter_reviews_path, id:"filter-form", method: :get, class:"hidden md:w-11/12 max-w-5xl md:flex mt-3 text-base", data: { turbo_action: 'replace', turbo_frame: 'reviews_frame' }, target: "reviews_frame" do %>
  <div class="flex-1 relative mr-1">
    <div id="release_modal" class="hover:cursor-pointer bg-blue-600 hover:bg-blue-700 flex justify-center items-center rounded-lg p-2" onmouseenter="document.getElementById('release_years').classList.remove('hidden');" 
       onmouseleave="document.getElementById('release_years').classList.add('hidden');"> 
      <h5 class="text-white">Release Year</h5>
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FFFFFF" class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m0 0l6.75-6.75M12 19.5l-6.75-6.75" />
        </svg>
      </span>
    </div>
    <div id="release_years" class="hidden absolute w-full z-50 text-gray-200 bg-gray-600 border-2 border-black p-2 max-h-52 overflow-scroll rounded-sm" onmouseenter="document.getElementById('release_years').classList.remove('hidden');" 
       onmouseleave="document.getElementById('release_years').classList.add('hidden');">
      <% Review.distinct.order(release_year: :desc).pluck(:release_year).each do |year| %>
        <div class="flex items-center my-1">
          <%= check_box_tag 'release_year[]', year, false, id: "release_year_#{year}", class:"mr-3 w-4 h-4 border-gray-200 rounded focus:ring-blue-600 ring-offset-gray-700 focus:ring-offset-gray-700 bg-gray-500 border-gray-500", form: "filter-form" %><br>
          <%= label_tag "release_year_#{year}", year, class:"w-full" %>
        </div>
      <% end %>
    </div>      
  </div>
  <div class="flex-1 relative mx-1">
    <div id="genre_modal" class="hover:cursor-pointer bg-blue-600 hover:bg-blue-700 flex justify-center items-center rounded-lg p-2" onmouseenter="document.getElementById('genres').classList.remove('hidden');" 
       onmouseleave="document.getElementById('genres').classList.add('hidden');">
      <h5 class="text-white">Genre</h5>
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FFFFFF" class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m0 0l6.75-6.75M12 19.5l-6.75-6.75" />
        </svg>
      </span>
    </div>
    <div id="genres" class="hidden absolute w-full z-50 text-gray-200 bg-gray-600 border-2 border-black p-2 max-h-52 overflow-scroll rounded-sm" onmouseenter="document.getElementById('genres').classList.remove('hidden');" 
       onmouseleave="document.getElementById('genres').classList.add('hidden');">
      <% genres = Review.pluck(:genre).flat_map { |genre| genre.split(',').map(&:strip) }.uniq %>
        <% genres.each do |name| %>
          <div class="flex items-center my-1">
            <%= check_box_tag 'genre[]', name, false, id:"genre_#{name}", class:"mr-3 w-4 h-4 border-gray-200 rounded focus:ring-blue-600 ring-offset-gray-700 focus:ring-offset-gray-700 bg-gray-500 border-gray-500", form: "filter-form" %>
            <%= label_tag "genre_#{name}", name, class: "w-full" %>
          </div>
      <% end %>
    </div> 
  </div>
  <div class="flex-1 relative mx-1">
    <div id="rated_modal" class="hover:cursor-pointer bg-blue-600 hover:bg-blue-700 flex justify-center items-center rounded-lg p-2" onmouseenter="document.getElementById('ratings').classList.remove('hidden');" 
       onmouseleave="document.getElementById('ratings').classList.add('hidden');">
      <h5 class="text-white">Rated</h5>
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FFFFFF" class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m0 0l6.75-6.75M12 19.5l-6.75-6.75" />
        </svg>
      </span>
    </div>
    <div id="ratings" class="hidden absolute w-full z-50 text-gray-200 bg-gray-600 border-2 border-black p-2 max-h-52 overflow-scroll rounded-sm" onmouseenter="document.getElementById('ratings').classList.remove('hidden');" 
       onmouseleave="document.getElementById('ratings').classList.add('hidden');">
      <% Review.distinct.pluck(:rated).each do |rating| %>
        <div class="flex items-center my-1">
          <%= check_box_tag 'rated[]', rating, false, id: "rated_#{rating}", class:"mr-3 w-4 h-4 border-gray-200 rounded focus:ring-blue-600 ring-offset-gray-700 focus:ring-offset-gray-700 bg-gray-500 border-gray-500", form: "filter-form"%>
          <%= label_tag "rated_#{rating}", rating, class:"w-full" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="flex-1 relative ml-1">
    <div id="scores_modal" class="hover:cursor-pointer bg-blue-600 hover:bg-blue-700 flex justify-center items-center rounded-lg p-2" onmouseenter="document.getElementById('scores').classList.remove('hidden');" 
       onmouseleave="document.getElementById('scores').classList.add('hidden');">
      <h5 class="text-white">Review Scores</h5>
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FFFFFF" class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m0 0l6.75-6.75M12 19.5l-6.75-6.75" />
        </svg>
      </span>
    </div>
    <div id="scores" class="hidden absolute w-full z-50 text-gray-200 bg-gray-600 border-2 border-black p-2 max-h-52 overflow-scroll rounded-sm" onmouseenter="document.getElementById('scores').classList.remove('hidden');" 
       onmouseleave="document.getElementById('scores').classList.add('hidden');">
      <% Review.distinct.order(review_score: :desc).pluck(:review_score).each do |score| %>
        <div class="flex items-center my-1">
          <%= check_box_tag 'review_score[]', score, false, id: "review_score_#{score}", class:"mr-3 w-4 h-4 border-gray-200 rounded focus:ring-blue-600 ring-offset-gray-700 focus:ring-offset-gray-700 bg-gray-500 border-gray-500", form: "filter-form" %>
          <%= label_tag "review_score_#{score}", score, class:"w-full" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<input type="submit" value="Submit" form="filter-form" class="hidden">