<div id="pageContainer" class="min-h-screen flex flex-col items-center">
  <%= render partial: 'devise/shared/navbar'%>
  <%= render partial: 'movie_details', locals: { movie_title: @result['Title'], poster: @result['Poster'], year: @result['Year'], runtime: @result['Runtime'], rated: @result['Rated'], genre:  @result['Genre'], director: @result['Director'], actors: @result['Actors'], awards: @result['Awards'], plot_summary: @result['Plot']  }%>  
  <%= form_with(model: @review, url: reviews_path, class:"w-4/5 max-w-4xl flex flex-col justify-center mt-24 mb-20") do |form| %>
    <%= form.label :review, class:"font-semibold" %> 
    <%= form.text_area :review, class: "rounded h-52", :required => true %>
    <%= form.label :score, class:"mt-3 font-semibold" %> 
    <%= form.number_field :score, class: "rounded w-16", :required => true, min: 0, max: 10  %>
    <%= form.hidden_field :title, value: @result['Title'] %>
    <%= form.hidden_field :poster, value: @result['Poster'] %>
    <%= form.hidden_field :year, value: @result['Year'] %>
    <%= form.hidden_field :runtime, value: @result['Runtime'] %>
    <%= form.hidden_field :rated, value: @result['Rated'] %>
    <%= form.hidden_field :imdbID, value: @result['imdbID'] %>
    <%= form.hidden_field :genre, value: @result['Genre'] %>
    <%= form.hidden_field :director, value: @result['Director'] %>
    <%= form.hidden_field :writer, value: @result['Writer'] %>
    <%= form.hidden_field :actors, value: @result['Actors'] %>
    <%= form.hidden_field :awards, value: @result['Awards'] %>
    <%= form.hidden_field :summary, value: @result['Plot'] %>
    <div class="flex w-full mt-5">
      <button class="w-24 mr-5 bg-green-700 hover:bg-white text-white hover:text-green-700 border-2 border-green-700 py-2 px-4 rounded focus:outline-none focus:shadow-outline">
        <%= form.submit 'Save' %>
      </button>
      <button onclick="window.history.back();" class="w-24 bg-red-600 hover:bg-white text-white hover:text-red-600 border-2 border-red-600 py-2 px-4 rounded focus:outline-none focus:shadow-outline">
        Cancel
      </button>
    </div>
  <% end %>
</div>