<div id="pageContainer" class="min-h-screen flex flex-col items-center">
  <%= render partial: 'devise/shared/navbar'%>
  <%= render partial: 'movie_details', locals: { movie_title: @review.movie_title, poster: @review.movie_poster, year: @review.release_year, runtime: @review.runtime, rated: @review.rated, genre: @review.genre, director: @review.director, actors: @review.actors, awards: @review.awards, plot_summary: @review.plot_summary } %>
  <div id="criticDetails" class="w-11/12 max-w-5xl mt-3 top-14 md:top-20 relative">
    <% if user_signed_in? && current_user.role == "admin"%>
      <div class="flex justify-between text-sm bg-gray-300 px-2 py-3">
        <span class="font-bold">Reviewer Options</span>
        <div>
          <%= link_to 'Edit', edit_review_path(@review.id), class:"py-1 px-4 hover:text-white hover:bg-green-500 text-green-500 rounded-md border-2 border-green-500 bg-white"%>
          <span onclick="document.getElementById('modal-<%= @review.id %>').classList.toggle('hidden');" class="cancel-modal review-delete py-1 px-4 hover:text-white hover:cursor-pointer hover:bg-red-500 text-red-500 rounded-md border-2 border-red-500 bg-white">Delete</span>
        </div>
      </div>
    <% end %>
    <div class="mt-5">
      <h3 class="text-base font-bold mb-2">Critic Review</h3>
      <p class="pl-1"><%= @review.review_summary%></p>
    </div>
    <div class="flex justify-between bg-gray-300 mt-5 mb-20 p-3">
      <span>Critic Score</span>
      <span><%= @review.review_score %>/10</span>
    </div>
  </div>
  <%= render partial: 'delete_modal', locals: { review: @review }%>
</div>