<div id="pageContainer" class="min-h-screen flex flex-col items-center">
  <%= render partial: 'devise/shared/navbar'%>
  <div class="mt-7 flex flex-col items-center w-11/12 ">
    <div class="md:hidden flex justify-between items-center w-full max-w-xl"> 
      <h1 class="font-semibold text-xl self-start max-w-xs"><%= @review.movie_title %></h1>     
    </div> 
    <div class="flex flex-col md:flex-row md:justify-start w-4/5 max-w-4xl">
      <img src="<%= @review.movie_poster %>" class="mt-7 md:mt-0 object-contain h-72 rounded-t-lg">
      <div id="movie-details" class="text-sm max-h-80 w-full mt-3 md:mt-0 md:flex md:flex-col md:justify-between md:ml-5">
        <h1 class="hidden md:inline font-semibold text-xl self-start max-w-xs"><%= @review.movie_title%></h1>     
        <div class="text-gray-500 w-full flex justify-between md:justify-start">
          <span class="md:mr-3"><%= @review.release_year%></span>
          <span class="md:mr-3">|</span>
          <span class="md:mr-3"><%= @review.runtime %></span>
          <span class="md:mr-3">|</span>
          <span class="md:mr-3"><%= @review.rating %></span>
          <span class="md:mr-3">|</span>
          <span class="md:mr-3"><%= @review.genre %></span>
        </div>
        <div class="flex flex-col mt-5 md:mt-0">
          <span class="font-bold">Director</span>
          <span><%= @review.director %></span>
        </div>
        <div class="flex flex-col mt-5 md:mt-0">
          <span class="font-bold">Lead Actors</span>
          <span><%= @review.actors %></span>
        </div>
        <div class="flex flex-col mt-5 md:mt-0">
          <span class="font-bold">Awards</span>
          <span><%= @review.awards %></span>
        </div>
        <div class="flex flex-col mt-5 md:mt-0">
          <span class="font-bold">Summary</span>
          <p class="pl-1 md:pl-0"><%= @review.plot_summary %></p>
        </div>
        <% if user_signed_in? && current_user.role == "admin"%>
          <div class="flex justify-between md:hidden text-sm bg-gray-300 px-2 py-3 mt-3">
            <span class="font-bold">Reviewer Options</span>
            <div>
              <%= link_to 'Edit', '#', class:"py-1 px-4 hover:text-white hover:bg-green-500 text-green-500 rounded-md border-2 border-green-500 bg-white"%>
              <%= link_to 'Delete', '#', class:"py-1 px-4 hover:text-white hover:bg-red-500 text-red-500 rounded-md border-2 border-red-500 bg-white"%>
            </div>
          </div>
        <% end %>
        <div class="flex flex-col mt-5 md:hidden">
          <h3 class="text-base font-bold mb-2">Critic Review</h3>
          <p class="pl-1"><%= @review.review_summary%></p>
        </div>
        <div class="flex justify-between border-2 border-black bg-gray-300 mt-5 mb-20 p-3 md:hidden">
          <span>Critic Score</span>
          <span><%= @review.review_score %>/10</span>
        </div>
      </div>
    </div>
    <% if user_signed_in? && current_user.role == "admin"%>
      <div class="hidden md:flex justify-between text-sm bg-gray-300 px-4 py-4 mt-4 w-full max-w-6xl">
        <span class="font-bold">Reviewer Options</span>
        <div>
          <%= link_to 'Edit', '#', class:"py-1 px-4 mx-2 hover:text-white hover:bg-green-500 text-green-500 rounded-md border-2 border-green-500 bg-white"%>
          <%= link_to 'Delete', '#', class:"py-1 mx-2 px-4 hover:text-white hover:bg-red-500 text-red-500 rounded-md border-2 border-red-500 bg-white"%>
        </div>
      </div>
    <% end %>
   <div class="mt-5 md:mt-10 p-3 hidden md:block w-full max-w-6xl">
     <h3 class="text-base font-bold mb-2">Critic Review</h3>
     <p><%= @review.review_summary%></p>
   </div>
   <div class="hidden md:flex md:justify-between w-full max-w-6xl text-lg border-2 border-black bg-gray-300 mt-5 md:mt-10 mb-10 p-3">
     <span>Critic Score</span>
     <span><%= @review.review_score%>/10</span>
   </div>   
  </div>
</div>